* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    min-height: 600px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #EEE;
}

#root {
    width: 100%;
    height: 95%;
}

#root > div:first-child {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(5, calc(95% / 5));
    grid-template-rows: repeat(3, calc(95% / 3));
    justify-content: center;
    gap: 2.5% 1%;
}

#root > div:last-child {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#root > div:last-child button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: #6c5ce7;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

#root > div:last-child button:hover {
    background: #5d4dd4;
}

.ColorCard {
    transition: .2s;
    padding: 5px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}

.ColorCard:active {
    transform: scale(.95);
}

.ColorCard div:first-child {
    height: 85%;
    border-radius: 5px;
}

.ColorCard div:last-child {
    height: 15%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 5px;
}


@media only screen and (max-width: 400px) {
    body {
        min-width: 400px;
    }
}



@media only screen and (max-width: 600px) {

    body {
        padding: 5px;
    }

    #root {
        height: 100%;
    }

    #root > div:first-child {
        grid-template-columns: repeat(3, calc(90% / 3));
        grid-template-rows: repeat(5, calc(90% / 5));
        gap: calc(10% / 5) calc(10% / 3);
    }

    .ColorCard div:last-child {
        font-size: .9rem;
        font-weight: 700;
        margin-top: 3px;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    body {
        padding: 10px;
    }

    #root > div:first-child {
        grid-template-columns: repeat(5, calc(90% / 5));
        grid-template-rows: repeat(3, calc(90% / 3));
        gap: calc(10% / 3) calc(10% / 5);
    }

    .ColorCard div:last-child {
        font-size: 1rem;
    }
}